@import '../../styles/common.scss';
@import '../../styles/breakpoints.scss';

.navigation {
    background-color: $light;
    padding: 10px;

    h2 {
        color: $primary-color;
    }

    @include Desktop {
        max-width: $width-default;
        align-self: center;
    }
}
